*{
    margin:0;
    padding: 0;

}

.container-feed{
    margin-top: 5rem !important;
    width: 80%;
    margin:50px auto;

}
.container-feed.h1{
    font-weight: 600;
}
.contact-box{
    border-radius: 25px;
    background:white ;
    display: flex;

}
.contact-left{

    flex-basis: 60%;
    padding: 30px 50px;

}
.contact-right{
    
    flex-basis: 40%;
    padding: 40px;
    background: rgb(14, 71, 14);
}
.feed-h1{
    margin-bottom: 10px;

}
.container-feed p{
    margin-top: 2rem;
    margin-bottom:40px ;
    font-size: 20px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;


}
.feed-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
}
.feed-text{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
    font-weight: 500;


}
.btn-feed{
    background: rgb(25, 150, 25);
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top:20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    transition: all 0.4s;


}
.contact-left h3{
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;

}
.contact-right h3{
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;
}
table{
    font-size: 20px;
    color: white;
}
 tr td:first-child{
    padding-right: 20px;
 }
 tr td{
    padding-top: 20px;
 }
.btn-feed:hover{
    transform: scale(1.3);
}