.support h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    top: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
}
.support-content{
    z-index: 1000;
    height: fit-content;
    width: 90vw;
    font-size: 2rem;
}
