.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.input-location{
  align-items: center;
  justify-content: center;
  display: flex;
}
.card-text{
  color: #f8f9fa;
}
.search-button {
  padding: 10px;
  margin-right: 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card-container {
  margin: 6rem !important;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #6c757d;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-number {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 15px;
}

.container-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.select-quantity,
.select-options,
.price-info {
  padding: 8px;
  font-size: 0.875rem;
}

.price-info {
  background-color: #f8f9fa;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add-to-cart {
  background-color: #007bff;
  color: #fff;
}

.btn-check-location {
  background-color: #28a745;
  color: #fff;
}
